// Load in our compiled SCSS variables
@import "../sprites/sprites";

$bg-color: #fefefe;

body {
  background-color: $bg-color;
  font-family: '맑은 고딕';
}
.header {
  margin: 0;
  padding: 15px 30px;
  background-color: #333;
  color: #fff;

 }
.wrapper {
   padding: 30px;
   .wrapper-icon-block {
    padding: 20px 20px 60px;
    border: 1px solid #ddd;
    [class^="ficon"] {
      font-size: 40px;
    }
    [class^="ficon"],
    [class^="icon-"] {
      font-size: 40px;
      & + [class^="ficon"],
      & + [class^="icon-"] {
        margin-left: 20px;
      }
    }
  }
  .hr {
    margin: 40px 0;
    border: solid #ddd;
    border-width: 1px 0 0;
  }
}
small {
  padding-left:20px;
  font-size: 14px;
  font-weight: normal;
}
.anchor {
  display: inline-block;
  color: #777;
  text-decoration: underline;
}

[class^="icon-"] {
  display: inline-block;
}
.icon-github {
  @include sprite($github);
}
.icon-twitter {
  @include sprite($twitter);
}
.icon-matreshka {
  @include sprite($matreshka);
}
