// Load in our compiled SCSS variables
@import "../sprites/sprites";

$bg-color: #f8f8f8;

body {
  background-color: $bg-color;
  font-family: '맑은 고딕';
}
.header {
  margin: 0;
  padding: 15px 30px;
  background-color: #333;
  color: #fff;

 }
.wrapper {
   padding: 30px;
   .wrapper-icon-block {
    padding: 20px 20px 60px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    [class^="ficon"] {
      font-size: 40px;
    }
    [class^="ficon"],
    [class^="icon-"] {
      font-size: 40px;
      & + [class^="ficon"],
      & + [class^="icon-"] {
        margin-left: 20px;
      }
    }
  }
  .hr {
    margin: 40px 0;
    border: solid #ddd;
    border-width: 1px 0 0;
  }
}
small {
  padding-left:20px;
  font-size: 14px;
  font-weight: normal;
}
.anchor {
  display: inline-block;
  color: #777;
  text-decoration: underline;
}

[class^="icon-"] {
  display: inline-block;
}
.icon-connection {
  @include sprite($connection);
}
.icon-dice {
  @include sprite($dice);
}
.icon-droplet {
  @include sprite($droplet);
}
.icon-home {
  @include sprite($home);
}
.icon-home2 {
  @include sprite($home2);
}
.icon-home3 {
  @include sprite($home3);
}
.icon-moon {
  @include sprite($moon);
}
.icon-newspaper {
  @include sprite($newspaper);
}
.icon-pencil {
  @include sprite($pencil);
}
.icon-trello {
  @include sprite($trello);
}
.icon-video-camera {
  @include sprite($video-camera);
}
.icon-vimeo2 {
  @include sprite($vimeo2);
}
