// Load in our compiled SCSS variables
@import "../sprites/sprites";
.wrapper {
   padding: 30px;;
   .wrapper-icon-block {
    padding: 20px;
    border: 1px solid #ddd;
    [class^="ficon"] {
      font-size: 40px;
      & + [class^="ficon"] {
        margin-left: 20px;
      }
    }
  }
}
[class^="icon-"] {
  display: inline-block;
}
.icon-github {
  @include sprite($github);
}
.icon-twitter {
  @include sprite($twitter);
}
.icon-matreshka {
  @include sprite($matreshka);
}
