// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$connection-name: 'connection';
$connection-x: 0px;
$connection-y: 0px;
$connection-offset-x: 0px;
$connection-offset-y: 0px;
$connection-width: 40px;
$connection-height: 32px;
$connection-total-width: 154px;
$connection-total-height: 108px;
$connection-image: '../images/sprite-out/spritesheet.png';
$connection: (0px, 0px, 0px, 0px, 40px, 32px, 154px, 108px, '../images/sprite-out/spritesheet.png', 'connection', );
$dice-name: 'dice';
$dice-x: 0px;
$dice-y: 76px;
$dice-offset-x: 0px;
$dice-offset-y: -76px;
$dice-width: 32px;
$dice-height: 32px;
$dice-total-width: 154px;
$dice-total-height: 108px;
$dice-image: '../images/sprite-out/spritesheet.png';
$dice: (0px, 76px, 0px, -76px, 32px, 32px, 154px, 108px, '../images/sprite-out/spritesheet.png', 'dice', );
$droplet-name: 'droplet';
$droplet-x: 0px;
$droplet-y: 38px;
$droplet-offset-x: 0px;
$droplet-offset-y: -38px;
$droplet-width: 32px;
$droplet-height: 32px;
$droplet-total-width: 154px;
$droplet-total-height: 108px;
$droplet-image: '../images/sprite-out/spritesheet.png';
$droplet: (0px, 38px, 0px, -38px, 32px, 32px, 154px, 108px, '../images/sprite-out/spritesheet.png', 'droplet', );
$home-name: 'home';
$home-x: 38px;
$home-y: 38px;
$home-offset-x: -38px;
$home-offset-y: -38px;
$home-width: 32px;
$home-height: 32px;
$home-total-width: 154px;
$home-total-height: 108px;
$home-image: '../images/sprite-out/spritesheet.png';
$home: (38px, 38px, -38px, -38px, 32px, 32px, 154px, 108px, '../images/sprite-out/spritesheet.png', 'home', );
$home2-name: 'home2';
$home2-x: 84px;
$home2-y: 0px;
$home2-offset-x: -84px;
$home2-offset-y: 0px;
$home2-width: 32px;
$home2-height: 32px;
$home2-total-width: 154px;
$home2-total-height: 108px;
$home2-image: '../images/sprite-out/spritesheet.png';
$home2: (84px, 0px, -84px, 0px, 32px, 32px, 154px, 108px, '../images/sprite-out/spritesheet.png', 'home2', );
$home3-name: 'home3';
$home3-x: 84px;
$home3-y: 38px;
$home3-offset-x: -84px;
$home3-offset-y: -38px;
$home3-width: 32px;
$home3-height: 32px;
$home3-total-width: 154px;
$home3-total-height: 108px;
$home3-image: '../images/sprite-out/spritesheet.png';
$home3: (84px, 38px, -84px, -38px, 32px, 32px, 154px, 108px, '../images/sprite-out/spritesheet.png', 'home3', );
$moon-name: 'moon';
$moon-x: 122px;
$moon-y: 76px;
$moon-offset-x: -122px;
$moon-offset-y: -76px;
$moon-width: 32px;
$moon-height: 32px;
$moon-total-width: 154px;
$moon-total-height: 108px;
$moon-image: '../images/sprite-out/spritesheet.png';
$moon: (122px, 76px, -122px, -76px, 32px, 32px, 154px, 108px, '../images/sprite-out/spritesheet.png', 'moon', );
$newspaper-name: 'newspaper';
$newspaper-x: 38px;
$newspaper-y: 76px;
$newspaper-offset-x: -38px;
$newspaper-offset-y: -76px;
$newspaper-width: 32px;
$newspaper-height: 32px;
$newspaper-total-width: 154px;
$newspaper-total-height: 108px;
$newspaper-image: '../images/sprite-out/spritesheet.png';
$newspaper: (38px, 76px, -38px, -76px, 32px, 32px, 154px, 108px, '../images/sprite-out/spritesheet.png', 'newspaper', );
$pencil-name: 'pencil';
$pencil-x: 76px;
$pencil-y: 76px;
$pencil-offset-x: -76px;
$pencil-offset-y: -76px;
$pencil-width: 32px;
$pencil-height: 32px;
$pencil-total-width: 154px;
$pencil-total-height: 108px;
$pencil-image: '../images/sprite-out/spritesheet.png';
$pencil: (76px, 76px, -76px, -76px, 32px, 32px, 154px, 108px, '../images/sprite-out/spritesheet.png', 'pencil', );
$trello-name: 'trello';
$trello-x: 122px;
$trello-y: 0px;
$trello-offset-x: -122px;
$trello-offset-y: 0px;
$trello-width: 32px;
$trello-height: 32px;
$trello-total-width: 154px;
$trello-total-height: 108px;
$trello-image: '../images/sprite-out/spritesheet.png';
$trello: (122px, 0px, -122px, 0px, 32px, 32px, 154px, 108px, '../images/sprite-out/spritesheet.png', 'trello', );
$video-camera-name: 'video-camera';
$video-camera-x: 122px;
$video-camera-y: 38px;
$video-camera-offset-x: -122px;
$video-camera-offset-y: -38px;
$video-camera-width: 32px;
$video-camera-height: 32px;
$video-camera-total-width: 154px;
$video-camera-total-height: 108px;
$video-camera-image: '../images/sprite-out/spritesheet.png';
$video-camera: (122px, 38px, -122px, -38px, 32px, 32px, 154px, 108px, '../images/sprite-out/spritesheet.png', 'video-camera', );
$vimeo2-name: 'vimeo2';
$vimeo2-x: 46px;
$vimeo2-y: 0px;
$vimeo2-offset-x: -46px;
$vimeo2-offset-y: 0px;
$vimeo2-width: 32px;
$vimeo2-height: 32px;
$vimeo2-total-width: 154px;
$vimeo2-total-height: 108px;
$vimeo2-image: '../images/sprite-out/spritesheet.png';
$vimeo2: (46px, 0px, -46px, 0px, 32px, 32px, 154px, 108px, '../images/sprite-out/spritesheet.png', 'vimeo2', );
$spritesheet-width: 154px;
$spritesheet-height: 108px;
$spritesheet-image: '../images/sprite-out/spritesheet.png';
$spritesheet-sprites: ($connection, $dice, $droplet, $home, $home2, $home3, $moon, $newspaper, $pencil, $trello, $video-camera, $vimeo2, );
$spritesheet: (154px, 108px, '../images/sprite-out/spritesheet.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
