// Load in our compiled SCSS variables
@import "../sprites/sprites";
// Generate sprite rules and media queries
@include retina-sprites($retina-groups);

$bg-color: #f8f8f8;

body {
  background-color: $bg-color;
  font-family: '맑은 고딕';
}
.header {
  margin: 0;
  padding: 15px 30px;
  background-color: #333;
  color: #fff;

 }
.wrapper {
   padding: 30px;
   .wrapper-icon-block {
    padding: 20px 20px 60px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    [class^="ficon"] {
      font-size: 40px;
    }
    [class^="ficon"],
    [class^="icon-"] {
      font-size: 40px;
      & + [class^="ficon"],
      & + [class^="icon-"] {
        margin-left: 20px;
      }
    }
  }
  .hr {
    margin: 40px 0;
    border: solid #ddd;
    border-width: 1px 0 0;
  }
}
small {
  padding-left:20px;
  font-size: 14px;
  font-weight: normal;
}
.anchor {
  display: inline-block;
  color: #777;
  text-decoration: underline;
}

[class^="icon-"] {
  display: inline-block;
}
.icon-address-book {
  @include sprite($address-book);
}
.icon-barcode {
  @include sprite($barcode);
}
.icon-envelop {
  @include sprite($envelop);
}
.icon-file-play {
  @include sprite($file-play);
}
.icon-price-tags {
  @include sprite($price-tags);
}
